/* header */
#header {
    padding: 10px 20px;
    position: sticky;
    background-color: black;
    z-index: 100;
    display: flex;
    align-items: center;
    top: 0px;
    height: 50px;
    justify-content: space-between;
}
#header-img{
    width:350px;
    height: 60px;
    float: left;
}
#nav-bar {
    display: inline-block;
}
#nav-bar a {
    text-decoration: none;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    display: inline-block;
    position: relative;
    margin: auto 4px;
    padding: 5px 10px;
    font-size: 1em;
}
#nav-bar a:hover {
    color: green;
}
/* header-end */

/* Razer hammerhead models */
.section{
    min-height: 300px;
    position: relative;
}
.section img {
    max-width: 100%;
    height: auto;
}
.models-text {
    font-family: sans-serif;
    color: #44D62C;
    font-size: 28px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*Razer hammerhead models end */

/* tech specs */
.tech-specs {
    background-color: #181818fe;
    margin-top: -29px;
}
.tech-specs p{
    color: #44D62C;
    font-family: sans-serif;
    padding-top: 50px;
    padding-bottom: 12px;
    font-size: 24px;
    text-align: center;
}
.column {
    float: left;
    width: 47%;
    padding: 20px;
}
.column ul,h6{
    color: #888888;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
.column h4{
    color: #FFFFFF;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
.tech-specs:after {
    content: "";
    display: table;
    clear: both;
}
/* tech specs end */

/* media query */
@media screen and (max-width: 510px) {
    #header {
        flex-direction: column;
        height: auto;
    }
    #header-img {
        margin-bottom: 10px;
    }
    #nav-bar a {
        margin: 5px;
        width: 70%;
        display: block;
        text-align: center;
    }
    .models-text{
        font-size: 80%;
        top: 5%;
    }
    .column{
        width: 100%;
    }
}