/* header */
#header {
    padding: 10px 20px;
    position: sticky;
    background-color: black;
    z-index: 100;
    display: flex;
    align-items: center;
    top: 0px;
    height: 50px;
    justify-content: space-between;
}
#header-img{
    width:350px;
    height: 60px;
    float: left;
}
#nav-bar {
    display: inline-block;
}
#nav-bar a {
    text-decoration: none;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    display: inline-block;
    position: relative;
    margin: auto 4px;
    padding: 5px 10px;
    font-size: 1em;
}
#nav-bar a:hover {
    color: green;
}
/* header-end */

/* Razer hammerhead models */
.section{
    min-height: 300px;
    position: relative;
}
.section img {
    max-width: 100%;
    height: auto;
}
.models-text {
    font-family: sans-serif;
    color: #44D62C;
    font-size: 28px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*Razer hammerhead models end */

/* tech specs */
.tech-specs {
    background-color: #181818fe;
    margin-top: -29px;
}
.tech-specs p{
    color: #44D62C;
    font-family: sans-serif;
    padding-top: 50px;
    padding-bottom: 12px;
    font-size: 24px;
    text-align: center;
}
.column {
    float: left;
    width: 47%;
    padding: 20px;
}
.column ul,h6{
    color: #888888;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
.column h4{
    color: #FFFFFF;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
.tech-specs:after {
    content: "";
    display: table;
    clear: both;
}
/* tech specs end */

/* how it works section */
.youtube {
    color: #44D62C;
    font-family: sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 24px;
    text-align: center;
    background: url(https://assets2.razerzone.com/images/hammerhead-bt/d4003aeee68f9217698ea3a44467b873-hammerhead_bt_tech.jpg);
}
/* how it works section end */

/* Products */
.buy{
    background-color: #1B1B1B;
    margin-top: -16px;
    padding: 20px 30px;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.buy p {
    color: #44D62C;
    font-family: sans-serif;
    padding-top: 50px;
    padding-bottom: 12px;
    font-size: 24px;
    text-align: center;
}
.product {
    position: relative;
    width: 100%;
    max-width: 308px;
    margin: 20px;
}
.product img {
    width: 100%;
    height: auto;
}
.product .btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #44D62C;
    color: #FFFFFF;
    font-size: 14px;
    padding: 7px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 800;
    letter-spacing: 0.05em;
    margin: 2px;
    display: inline-block;
}
.product .btn:hover {
    color: black;
    opacity: 0.7;
}
/* Products end*/

/* email form */
#form {
    background-color: black;
    color: #888888;
    text-align: center;
    font-family: sans-serif;
    padding: 50px 30px;

}
#email {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-sizing: border-box;
}
#submit {
    background-color: #44D62C;
    color: #FFFFFF;
    font-size: 14px;
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 2px;
}
#submit:hover{
    color: black;
    opacity: 0.7;
}
/* email form end */

/* footer */
#footer{
    background-color: #121212;
    color: #888888;
    font-family: sans-serif;
    padding: 10px;
}
#footer p {
    padding-bottom: 20px;
    margin-left: 40px;
}
#footer h4{
    text-align: right;
    padding: 10px;
    margin: 0 50px;
}
/* footer end */

/* media query */
@media screen and (max-width: 510px) {
    #header {
        flex-direction: column;
        height: auto;
    }
    #header-img {
        margin-bottom: 10px;
    }
    #nav-bar a {
        margin: 5px;
        width: 70%;
        display: block;
        text-align: center;
    }
    .models-text{
        font-size: 80%;
        top: 5%;
    }
    .column {
        width: 100%;
    }
    .tech-specs {
        margin-top: -200px;
    }
    iframe {
        width: 100%;
        height: 280px;
    }
}
@media screen and (max-width: 700px) {
    .product-list{
        flex-direction: column;
    }
}