#header {
    padding: 10px 20px;
    position: sticky;
    background-color: black;
    z-index: 100;
    display: flex;
    align-items: center;
    top: 0px;
    height: 50px;
    justify-content: space-between;
}
#header-img{
    width:350px;
    height: 60px;
    float: left;
}
#nav-bar {
    display: inline-block;
}
#nav-bar a {
    text-decoration: none;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    display: inline-block;
    position: relative;
    margin: auto 4px;
    padding: 5px 10px;
    font-size: 1em;
}
#nav-bar a:hover {
    color: green;
}

@media screen and (max-width: 510px) {
    #header {
        flex-direction: column;
        height: auto;
    }
    #header-img {
        margin-bottom: 10px;
    }
    #nav-bar a {
        margin: 5px;
        width: 70%;
        display: block;
        text-align: center;
    }
}